.formtype-section {
    width: 50%;
    float: left;
    padding-right: 5px;
}
.locales-section {
    width: 50%;
    float: right;
    padding-right: 5px;
}
.predict-button {
    margin-top: 12px;
    .ms-Button-icon {
        color: #f6882e;
    }
}

.request-uri-textfield {
    textarea {
        word-break: break-all;
    }
}

.predict-mode-toggle {
    label {
        color: rgb(250, 251, 251);
    }
}
